# amplify
node_modules
.amplify
amplify_outputs*
amplifyconfiguration*

# Vite
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
